$color-primary-1: #2cb5e8;
$color-primary-2: #1fc8db;
$color-primary-3: #9fb8ad;
$header-color: white;
$color-grey-1: rgb(247, 243, 255);
$color-grey-2: rgb(150, 163, 187);
$color-danger: rgb(208, 21, 46);

$screen-small: 37.5em;
$screen-medium: 52.25em;
$screen-large: 75em;
